@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    font-family: 'Catamaran', sans-serif;
    font-size: 18px;
}

body {
    background-color: black;
    display: grid;
    grid-template-columns: 1fr minmax(150px, 5fr) 1fr;
    grid-template-rows: 50px minmax(500px, auto) 50px;
    grid-template-areas: 
        "header header header"
        "left-aside main right-aside"
        "footer footer footer";
}

header {
    padding: 0 20px;
    display: flex;
    justify-content: end;
    align-items: center;
    grid-area: header;
    background-color: orange;
}

nav li {
    display: inline;
    margin-left: 20px;
}

.nav-items {
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}

main {
    grid-area: main;
    background-color: red;
}

footer {
    grid-area: footer;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-aside {
    grid-area: left-aside;
    background-color: blue;
}

.right-aside {
    grid-area: right-aside;
    background-color: blue;
}
